bin
build
dist
lib
out
target
*.com
*.class
*.dll
*.exe
*.o
*.so
.git
/logs
*.log
*.bak
.DS_Store
ehthumbs.db
Thumbs.db
.classpath
.externalToolBuilders
.idea
.project
.settings
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws
status
dependency-reduced-pom.xml